@font-face {
    font-family: Cairo;
    src: url('/default_uom/static/src/fonts/Cairo-Regular.ttf');
  }
  .header{
    font-family: 'Cairo','Open Sans';
  }
  .page{
    font-family: 'Cairo','Open Sans';
  }
  .footer{
    font-family: 'Cairo','Open Sans';
  }
  body{
    font-family: 'Cairo','Open Sans' !important; 
  }